* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.desc {
    background-color: aliceblue;
}

.ingre {
    background-color: antiquewhite;
}

.steps {
    background-color: bisque;
}

img {
    width: 500px;
    height: auto;
}

.dish {
    background: linear-gradient(to right, cornflowerblue, white);
    width: 500px;
}